body {
    padding: 20px;
}

h1 {
    border-bottom: 2px #007bff solid;
    margin-bottom: 20px;
}

#loginForm, #scriptForm {
    display: none;
}

#consoleForm {
    visibility: hidden;
    height:40%;
}

#console, #log {
    background-color: #f2f2f2;
    height: 100%;
}

#log {
    overflow: auto;
    font-size: .8rem;
}

#loader {
    display: none;
    width: 48px;
}