spring:
  datasource:
      url: jdbc:postgresql://localhost:5432/aron
      username: postgres
      password: postgres
  jpa:
    show-sql: true

types-config: "./config/types.yaml"
transformation-agent-url: "http://127.0.1:8088/ws/ApuTransformManager"

files:
  storage: c:/projects/crp/data/fileStorage
  transfer:
    path: c:/projects/crp/aronFileTransfer

tile:
  folder: c:/projects/crp/data/tiles
  format: jpg


webResources:
  pageTemplate: ./config/pageTemplate.yaml
  news: ./config/news.yaml
  favoriteQueries: ./config/favoriteQueries.yaml
  facets: ./config/searchConfig.yaml
  logo: ./config/images/logo.svg
  topImage: ./config/images/book.png

help-url: https://seznam.cz
# Odkazy v paticce (prohlaseni o pristupnosti, kontakty, ...) se konfiguruji
# v pageTemplate.yaml v sekci footer.links - viz doc/accessibility.md.
# Volitelny import ze vstupniho adresare - souborova alternativa k nahravani
# pres Transfagent (jedna podslozka = jeden prenos: apusrc-*.xml nebo dao-*.xml
# + volitelne files/); nezmenene prenosy se pri restartu preskakuji.
#import:
#  input-dir: ./import

# Jazyk popisovaneho materialu (IETF tag); vychozi cs-CZ. Jeho abeceda urcuje
# razeni vysledku podle nazvu - stejne pro vsechny navstevniky, nejde o jazyk
# prohlizece. Zmena vyvola pri dalsim startu prestavbu indexu a reindexaci.
#search:
#  content-locale: cs-CZ
