[submodule "index"]
	path = index
	url = git@git.inqool.cz:eas/index.git
[submodule "entity-views"]
	path = entity-views
	url = git@git.inqool.cz:backslash/entity-views.git
[submodule "common"]
	path = common
	url = git@git.inqool.cz:eas/common.git
[submodule "common-web"]
	path = common-web
	url = git@git.inqool.cz:eas/common-web.git
[submodule "hotreload"]
	path = hotreload
	url = http://git.inqool.cz/eas/hotreload.git
