/* COLORS */

$color-white: #fff;
$color-black: #111;

$color-blue-dark: #1a3a56;
$color-blue: #306ea4;
$color-blue-light: #70a0c9;
$color-blue-very-light: lighten($color-blue, 52%);
$color-grey: #616161;
$color-grey-light: lighten($color-grey, 40%);

$color-text: $color-grey;

/* BREAKPOINTS */

$sm: 600px;
$md: 900px;
$lg: 1100px;
$xl: 1300px;

/* SPACING */

$spacing: 1rem;
$spacing-big: 2rem;
$spacing-small: 0.5rem;
$spacing-tiny: 0.25rem;

/* SIZE */

$app-header-height: 6rem;
$breadcrumbs-height: 2.5rem;

/* STYLES */

@import "./basic.scss";
@import "./flex.scss";
@import "./margin.scss";
@import "./padding.scss";

@import "./app-header";
@import "./app-title";
@import "./app-wrapper";
@import "./evidence";
@import "./main";
@import "./module";
@import "./search";
