/* COLORS */
/* BREAKPOINTS */
/* SPACING */
/* SIZE */
/* STYLES */
body {
  margin: 0;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #616161;
  overflow: hidden; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button {
  color: #fff !important;
  background: #306ea4;
  border: 1px solid #306ea4;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s;
  cursor: pointer; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.flex {
  display: flex; }
  .flex-row {
    width: 100%;
    display: flex; }
    .flex-row-centered {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .flex-row-center {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    .flex-row-align-center {
      width: 100%;
      display: flex;
      align-items: center; }
    .flex-row-space-between {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .flex-row-end {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
  .flex-centered {
    display: flex;
    align-items: center;
    justify-content: center; }
  .flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .flex-just-space-between {
    display: flex;
    justify-content: space-between; }
  .flex-bottom {
    display: flex;
    align-items: bottom; }
  .flex-align-center {
    display: flex;
    align-items: center; }
  .flex-align-top {
    display: flex;
    align-items: flex-start; }
  .flex-align-bottom {
    display: flex;
    align-items: flex-end; }
  .flex-column {
    display: flex;
    flex-direction: column; }
    .flex-column-centered {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .flex-column-reversed {
      display: flex;
      flex-direction: column-reverse; }
      .flex-column-reversed-centered {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center; }
    .flex-column-full {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column; }
      .flex-column-full-centered {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
  .flex-wrap {
    flex-wrap: wrap; }
  .flex-inline {
    display: inline-flex; }
    .flex-inline-align-center {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start; }
      .flex-inline-align-center-important {
        display: inline-flex !important;
        align-items: center !important;
        justify-content: flex-start !important; }

.margin {
  margin: 1rem !important; }
  .margin-small {
    margin: 0.5rem !important; }
  .margin-big {
    margin: 2rem !important; }
  .margin-top {
    margin-top: 1rem !important; }
    .margin-top-small {
      margin-top: 0.5rem !important; }
      .margin-top-small-only {
        margin: 0.5rem 0 0 0 !important; }
    .margin-top-big {
      margin-top: 2rem !important; }
      .margin-top-big-only {
        margin: 2rem 0 0 0 !important; }
    .margin-top-only {
      margin: 1rem 0 0 0 !important; }
    .margin-top-none {
      margin-top: 0 !important; }
  .margin-right {
    margin-right: 1rem !important; }
    .margin-right-small {
      margin-right: 0.5rem !important; }
      .margin-right-small-only {
        margin: 0 0.5rem 0 0 !important; }
    .margin-right-big {
      margin-right: 2rem !important; }
      .margin-right-big-only {
        margin: 0 2rem 0 0 !important; }
    .margin-right-only {
      margin: 0 1rem 0 0 !important; }
    .margin-right-none {
      margin-right: 0 !important; }
  .margin-bottom {
    margin-bottom: 1rem !important; }
    .margin-bottom-tiny {
      margin-bottom: 0.25rem !important; }
    .margin-bottom-small {
      margin-bottom: 0.5rem !important; }
      .margin-bottom-small-only {
        margin: 0 0 0.5rem 0 !important; }
    .margin-bottom-big {
      margin-bottom: 2rem !important; }
      .margin-bottom-big-only {
        margin: 0 0 2rem 0 !important; }
    .margin-bottom-only {
      margin: 0 0 1rem 0 !important; }
    .margin-bottom-none {
      margin-bottom: 0 !important; }
  .margin-left {
    margin-left: 1rem !important; }
    .margin-left-tiny {
      margin-left: 0.25rem !important; }
      .margin-left-tiny-only {
        margin: 0 0 0 0.25rem !important; }
    .margin-left-small {
      margin-left: 0.5rem !important; }
      .margin-left-small-only {
        margin: 0 0 0 0.5rem !important; }
    .margin-left-big {
      margin-left: 2rem !important; }
      .margin-left-big-only {
        margin: 0 0 0 2rem !important; }
    .margin-left-only {
      margin: 0 0 0 1rem !important; }
    .margin-left-none {
      margin-left: 0 !important; }
  .margin-none {
    margin: 0 !important; }

.padding {
  padding: 1rem !important; }
  .padding-small {
    padding: 0.5rem !important; }
  .padding-big {
    padding: 2rem !important; }
  .padding-top {
    padding-top: 1rem !important; }
    .padding-top-small {
      padding-top: 0.5rem !important; }
      .padding-top-small-only {
        padding: 0.5rem 0 0 0 !important; }
    .padding-top-big {
      padding-top: 2rem !important; }
      .padding-top-big-only {
        padding: 2rem 0 0 0 !important; }
    .padding-top-only {
      padding: 1rem 0 0 0 !important; }
    .padding-top-none {
      padding-top: 0 !important; }
  .padding-right {
    padding-right: 1rem !important; }
    .padding-right-small {
      padding-right: 0.5rem !important; }
      .padding-right-small-only {
        padding: 0 0.5rem 0 0 !important; }
    .padding-right-big {
      padding-right: 2rem !important; }
      .padding-right-big-only {
        padding: 0 2rem 0 0 !important; }
    .padding-right-only {
      padding: 0 1rem 0 0 !important; }
    .padding-right-none {
      padding-right: 0 !important; }
  .padding-bottom {
    padding-bottom: 1rem !important; }
    .padding-bottom-small {
      padding-bottom: 0.5rem !important; }
      .padding-bottom-small-only {
        padding: 0 0 0.5rem 0 !important; }
    .padding-bottom-big {
      padding-bottom: 2rem !important; }
      .padding-bottom-big-only {
        padding: 0 0 2rem 0 !important; }
    .padding-bottom-only {
      padding: 0 0 1rem 0 !important; }
    .padding-bottom-none {
      padding-bottom: 0 !important; }
  .padding-left {
    padding-left: 1rem !important; }
    .padding-left-small {
      padding-left: 0.5rem !important; }
      .padding-left-small-only {
        padding: 0 0 0 0.5rem !important; }
    .padding-left-big {
      padding-left: 2rem !important; }
      .padding-left-big-only {
        padding: 0 0 0 2rem !important; }
    .padding-left-only {
      padding: 0 0 0 1rem !important; }
    .padding-left-none {
      padding-left: 0 !important; }
  .padding-none {
    padding: 0 !important; }

.app-header {
  width: 100%;
  min-width: 100%;
  height: 6rem;
  background: #1a3a56;
  position: relative; }
  .app-header-inner {
    padding: 0 2rem; }
  .app-header-items {
    display: none; }
  .app-header-items-mobile {
    position: absolute;
    top: 6rem;
    right: 0;
    background: #1a3a56;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 10; }
  .app-header-item, .app-header-item-mobile {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px; }
    .app-header-item:hover, .app-header-item.active, .app-header-item-mobile:hover, .app-header-item-mobile.active {
      background: #306ea4; }
  .app-header-item {
    height: 100%; }
  .app-header-item-mobile {
    padding: 0.8rem 1.2rem; }
    .app-header-item-mobile:last-child {
      border-bottom-left-radius: 4px; }
  .app-header .icon {
    color: #fff;
    cursor: pointer; }
    .app-header .icon:hover {
      color: #306ea4; }
  @media (min-width: 1100px) {
    .app-header-items-mobile,
    .app-header .icon {
      display: none; }
    .app-header-items {
      display: flex; } }

.app-title {
  font-size: 1.2rem;
  color: #fff; }
  .app-title.clickable {
    cursor: pointer; }
  .app-title .first {
    font-weight: 600; }

.app-wrapper {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  background: #fff;
  overflow-x: hidden; }

.evidence {
  position: relative;
  height: calc(100vh - 6rem - 2.5rem - 1px);
  min-height: calc(100vh - 6rem - 2.5rem - 1px);
  max-height: calc(100vh - 6rem - 2.5rem - 1px); }
  .evidence-main {
    height: 100%; }
  .evidence-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background: #e6eff8;
    border-right: 1px solid #c7c7c7;
    transition: width 0.3s;
    overflow-y: auto; }
    .evidence-sidebar .sidebar-content {
      width: 100%;
      display: none; }
    .evidence-sidebar.visible {
      width: 300px; }
      .evidence-sidebar.visible .sidebar-content {
        display: block; }
    .evidence-sidebar .visible-button {
      width: 100%;
      border-bottom: 1px solid #c7c7c7;
      cursor: pointer; }
    .evidence-sidebar .sidebar-item h5 {
      color: #306ea4;
      margin-top: 2rem;
      margin-bottom: 0.75rem; }
    .evidence-sidebar .sidebar-item select {
      width: 100%;
      height: 30px; }
    .evidence-sidebar .sidebar-item p {
      margin: 0.8rem 4px 0;
      color: #1a3a56;
      cursor: pointer;
      font-size: 12px; }
      .evidence-sidebar .sidebar-item p:hover {
        text-decoration: underline; }
    .evidence-sidebar .sidebar-item span {
      color: #c7c7c7; }
    .evidence-sidebar .button-all {
      padding: 0.7rem 1.6rem; }
  .evidence-content {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: calc(100% - 30px);
    margin-left: 30px;
    overflow-y: auto; }
    .evidence-content-item {
      width: calc(100% - 2.5rem);
      border-radius: 4px;
      padding: 0.8rem 1.25rem;
      cursor: pointer; }
      .evidence-content-item:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      .evidence-content-item h4 {
        margin: 0 0 0.5rem;
        color: #306ea4; }
      .evidence-content-item p {
        margin: 0; }
  .evidence-detail-item {
    font-size: 13px; }
    .evidence-detail-item-label {
      width: 180px;
      min-width: 180px;
      text-transform: uppercase; }
    .evidence-detail-item-file {
      cursor: pointer; }
      .evidence-detail-item-file:hover span {
        text-decoration: underline; }
      .evidence-detail-item-file .icon {
        color: #306ea4; }
    .evidence-detail-item p {
      margin-top: 0; }
    .evidence-detail-item .bold {
      font-weight: 600; }
  .evidence-detail-left {
    width: 100%; }
  .evidence-detail-right {
    width: 100%;
    background: #e6eff8;
    border-top: 1px solid #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .evidence-detail-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    cursor: pointer; }

@media (min-width: 900px) {
  .evidence-sidebar {
    width: 300px; }
    .evidence-sidebar .visible-button {
      display: none; }
    .evidence-sidebar .sidebar-content {
      display: block; }
  .evidence-content {
    width: calc(100% - 300px);
    margin-left: 300px; }
  .evidence-detail {
    display: flex;
    min-height: 100%; }
    .evidence-detail-left {
      width: 70%;
      min-height: 100%; }
    .evidence-detail-right {
      width: 30%;
      border-top: none;
      border-left: 1px solid #c7c7c7;
      min-height: 100%; } }

.main {
  position: relative;
  background: #e6eff8; }
  .main-inner {
    min-height: calc(100vh - 6rem); }
  .main-background-icon {
    transform: rotate(15deg);
    position: absolute;
    top: 1rem;
    right: -10vmin;
    opacity: 0.04;
    width: 35vmax !important;
    height: 35vmax !important; }
  .main-body {
    width: 100%; }
    .main-body-inner {
      width: 100%;
      max-width: calc(800px - 1rem);
      padding: 0 0.5rem; }
    .main-body-favourite {
      width: 100%; }
      .main-body-favourite div {
        width: 100%;
        cursor: pointer; }
        .main-body-favourite div:hover,
        .main-body-favourite div .icon {
          color: #306ea4; }
      @media (min-width: 900px) {
        .main-body-favourite div {
          width: 50%; } }
    .main-body h1 {
      text-align: center;
      color: #306ea4; }
  .main-footer {
    margin-top: auto;
    width: 100%;
    background: #1a3a56;
    color: #fff; }
    .main-footer-left {
      min-width: calc((100vw - 800px - 8rem) / 2); }
    .main-footer-section {
      max-width: 600px; }
    .main-footer-title {
      font-size: 0.8rem;
      text-transform: uppercase; }
    .main-footer-text {
      color: #70a0c9;
      font-size: 0.75rem;
      line-height: 1.4rem; }

.module {
  min-height: calc(100% - 6rem); }
  .module .breadcrumbs {
    height: 2.5rem;
    border-bottom: 1px solid #c7c7c7;
    font-size: 12px; }
    .module .breadcrumbs-link {
      color: #616161;
      text-decoration: none; }
      .module .breadcrumbs-link:hover {
        text-decoration: underline; }

.search {
  width: 100%; }
  .search-inner {
    position: relative;
    width: 100%;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .search-inner > * {
      height: 100%; }
    .search-inner input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: 1px solid #616161;
      padding: 0 0.5rem 0 50px;
      width: calc(100% - 114px);
      height: calc(100% - 2px);
      font-size: 14px; }
      .search-inner input:focus {
        outline: none; }
    .search-inner button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      text-transform: uppercase;
      padding: 0;
      width: 80px;
      font-size: 12px; }
    .search-inner .icon {
      position: absolute;
      top: 0;
      left: 14px;
      font-size: 18px; }
  .search.big .search-inner {
    height: 60px; }
    .search.big .search-inner input {
      padding: 0 0.5rem 0 84px;
      width: calc(100% - 214px);
      font-size: 20px; }
    .search.big .search-inner button {
      width: 120px;
      font-size: 15px; }
    .search.big .search-inner .icon {
      left: 30px;
      font-size: 30px; }
  .search-advanced {
    font-size: 0.7rem;
    font-weight: 600;
    color: #1a3a56;
    cursor: pointer; }
