.margin {
  margin: $spacing !important;
  &-small {
    margin: $spacing-small !important;
  }
  &-big {
    margin: $spacing-big !important;
  }
  &-top {
    margin-top: $spacing !important;
    &-small {
      margin-top: $spacing-small !important;
      &-only {
        margin: $spacing-small 0 0 0 !important;
      }
    }
    &-big {
      margin-top: $spacing-big !important;
      &-only {
        margin: $spacing-big 0 0 0 !important;
      }
    }
    &-only {
      margin: $spacing 0 0 0 !important;
    }
    &-none {
      margin-top: 0 !important;
    }
  }
  &-right {
    margin-right: $spacing !important;
    &-small {
      margin-right: $spacing-small !important;
      &-only {
        margin: 0 $spacing-small 0 0 !important;
      }
    }
    &-big {
      margin-right: $spacing-big !important;
      &-only {
        margin: 0 $spacing-big 0 0 !important;
      }
    }
    &-only {
      margin: 0 $spacing 0 0 !important;
    }
    &-none {
      margin-right: 0 !important;
    }
  }
  &-bottom {
    margin-bottom: $spacing !important;
    &-tiny {
      margin-bottom: $spacing-tiny !important;
    }
    &-small {
      margin-bottom: $spacing-small !important;
      &-only {
        margin: 0 0 $spacing-small 0 !important;
      }
    }
    &-big {
      margin-bottom: $spacing-big !important;
      &-only {
        margin: 0 0 $spacing-big 0 !important;
      }
    }
    &-only {
      margin: 0 0 $spacing 0 !important;
    }
    &-none {
      margin-bottom: 0 !important;
    }
  }
  &-left {
    margin-left: $spacing !important;
    &-tiny {
      margin-left: $spacing-tiny !important;
      &-only {
        margin: 0 0 0 $spacing-tiny !important;
      }
    }
    &-small {
      margin-left: $spacing-small !important;
      &-only {
        margin: 0 0 0 $spacing-small !important;
      }
    }
    &-big {
      margin-left: $spacing-big !important;
      &-only {
        margin: 0 0 0 $spacing-big !important;
      }
    }
    &-only {
      margin: 0 0 0 $spacing !important;
    }
    &-none {
      margin-left: 0 !important;
    }
  }
  &-none {
    margin: 0 !important;
  }
}
