.module {
  min-height: calc(100% - #{$app-header-height});

  .breadcrumbs {
    height: $breadcrumbs-height;
    border-bottom: 1px solid $color-grey-light;
    font-size: 12px;

    &-link {
      color: $color-text;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
