spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/transfagent
    username: app
    password: app

config:
  file: C:\Pyta\ArchivOnline\aron.git\priklady\types.yaml

aron:
  workDir: C:\Pyta\ArchivOnline\transfagent.work

# Parametry přístupu k jádru
aronCore:
  ft:
    url: http://localhost:8089/ws/ft
    user: x
    pass: x
    soapLogging: false
  core:
    url: http://localhost:8089/ws/ft
    user: x
    pass: x
    soapLogging: false

elza:
  url: http://localhost:8210/services/ExportService
  soapLogging: true
  username: vyber
  password: vyber

dao:
  dir:
    path: /opt/daos
  # Pocet sekund pro novy pokus o odeslani
  sendInterval: 60

logging:
  file: 
    name: C:\Pyta\ArchivOnline\transfagent.work\log\transfagent.log
  level:
    cz: DEBUG