# Nastavení připojení k databázi
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/transfagent
    username: app
    password: app

aron:
  # Absolutní cesta k pracovnímu adresáři
  # Zde jsou umístěny datové soubory a také vstupní adresáře
  workDir: C:\Pyta\ArchivOnline\transfagent.work

  # Cesta ke konfiguračnímu souboru typů
  typesConfig: config/types.yaml

# Parametry přístupu k jádru
aronCore:
  ft:
    url: http://localhost:8089/ws/ft
    user: x
    pass: x
    soapLogging: false
  core:
    url: http://localhost:8089/ws/ft
    user: x
    pass: x
    soapLogging: false

elza:
  url: http://localhost:8210/services/ExportService
  soapLogging: true
  username: vyber
  password: vyber

dspace:
  url: url: http://10.2.0.27:8088/rest
  user: x
  password: x
  # vybrat pouze soubory se zadaným bundle
  #bundleName: ORIGINAL
  disabled: true

# Dao ulozene na disku
# V adresari musi byt soubor data.csv s mapovanim level(uuid)->adresar
filestore:
  path: D:/projects/aron/data/transfagent/input_folder/filedao


dao:
  dir: /opt/daos
  # Pocet sekund pro novy pokus o odeslani
  sendInterval: 60
  # Mazani dao po odeslani
  deleteSent: false
  # maximalni pocet dao vygenerovanych na disku cekajicich na odeslani
  queueSize: 10

tile:
  # slozka s tiles, pokud je nastaveno generuji se tiles primo do vysledne slozky a do aroncore se prenasi pouze reference
  folder: D:/projects/aron/data/tiles
  # pokud je nastaveno na true generuji se tiles asynchronne
  async: false

logging:
  file: 
    name: C:\Pyta\ArchivOnline\transfagent.work\log\transfagent.log
  level:
    cz: DEBUG
